
h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
}
body{
    background-image: url("pexels-jack-redgate-2929290.jpg");
    background-color: black;
}